{% extends "base.html" %}

{% block title %}Play history{% endblock %}

{% block content %}
    {% if session.token_info %}
        <div class="title-wrapper">
            <h2>Play history</h2>
            <div class="time-ranges">
                <p>Time ranges:</p>
                <div class="time-range-group">
                    <a href="{{ url_for('main.top_artists', time_range='short_term') }}">Short term (4 weeks)</a>
                    <a href="{{ url_for('main.top_artists', time_range='medium_term') }}">Medium term (6 months)</a>
                    <a href="{{ url_for('main.top_artists', time_range='long_term') }}">Long term (12 months)</a>
                </div>
            </div>
        </div>
        <!-- TODO: Check screen sizes display off all cards -->
        <div class="top-artists-list grid">
            {% for artist in top_artists %}
                <div class="top-artist-item">
                    <div class="top-artist-image-wrapper">
                        <img src="{{ artist['images'][0]['url'] }}" alt="Artist Image" class="top-artist-image">
                    </div>
                    <div class="top-artist-info">
                        <div class="top-artist-name">{{ loop.index }}. {{ artist['name'] }} 
                            <a href="{{ artist['external_urls']['spotify'] }}"><i class="fab fa-spotify"></i></a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}
