/* Globals */
/* #region */
html {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
}

body {
    position: relative;
    min-height: 100vh;
}

footer {
    position: sticky;
    top: 100vh;
}

button {
    cursor: pointer;
}

.line {
    border: 2px solid #1c222e;
    border-radius: 2px;
    margin-bottom: 1rem;
}

/* #endregion */