{% extends 'base.html' %}


{% block head %}
  <title>Spotistat</title>
{% endblock %}


{% block content %}
<h1>Track Statistics</h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th><a href="{{ url_for('top_tracks_list', column='master_metadata_track_name') }}">Track Name</a></th>
      <th><a href="{{ url_for('top_tracks_list', column='master_metadata_album_artist_name') }}">Track Artist</a></th>
      <th><a href="{{ url_for('top_tracks_list', column='noStreams') }}">Streams</a></th>
      <th><a href="{{ url_for('top_tracks_list', column='streamTimeHr') }}">Total Time</a></th>
  </tr>
  </thead>
  <tbody>
    {% for key, track in tracks.iterrows() %}
    <tr>
      <td>{{ track['master_metadata_track_name'] }}</td>
      <td>{{ track['master_metadata_album_artist_name'] }}</td>
      <td>{{ track['noStreams'] }}</td>
      <td>{{ track['streamTimeHr'] | round(2) }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}



