{% extends "base.html" %}

{% block title %}Liked Tracks{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/track_list.css') }}">
{% endblock %}

{% block content %}
    <div class="container container-narrow">
        {% if session.token_info %}
            <div class="section-title">
                <h2>Liked Tracks</h2>
                <p><small>Popularity calculated by Spotify!</small></p>
                <!-- TODO: Add form for pagination logic -->
                <form method="GET" action="{{ url_for('main.full_liked_tracks') }}">
                    <input type="hidden" name="offset" value="{{ current_offset }}">
                    <select name="sort_by">
                        <option value="popularity" {% if sort_by == 'popularity' %}selected{% endif %}>Popularity</option>
                        <option value="name" {% if sort_by == 'name' %}selected{% endif %}>Name</option>
                        <option value="artist" {% if sort_by == 'artist' %}selected{% endif %}>Artist</option>
                    </select>
                    <button type="submit">Sort</button>
                </form>
                

            </div>
            <ul class="track-list">
                {% for track in liked_tracks %}
                    <li class="track-item">
                        <div class="track-popularity-bar">
                            <div class="track-popularity-bar-fill" style="--popularity: {{ track['popularity'] }}%"></div>
                        </div>
                        <div class="track-number">{{ loop.index }}</div>
                        <div class="album-image-wrapper">
                            <img src="{{ track['album_image_url'] }}" alt="Album Image" class="album-image">
                        </div>
                        <div class="track-info">
                            <div class="track-name">{{ track['name'] }}</div>
                            <div class="track-artist">{{ track['artist'] }}</div>
                            <div class="track-meta">
                                <div class="track-popularity">Popularity: {{ track['popularity'] }}</div>
                            </div>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
{% endblock %}


