{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
    {% if session.token_info %}
        <h2>Take action</h2>
        <ul class="links">
            <li><a href="{{ url_for('main.play_history') }}">Get Play History</a></li>
            <li class="link-group">
                <a href="{{ url_for('main.liked_tracks') }}">Get Liked Tracks</a>
                <a href="{{ url_for('main.popular_liked_tracks') }}">Get Popular Liked Tracks</a>
            </li>
            <li class="link-group">
                <a href="{{ url_for('main.top_artists') }}">Top artists</a>
                <a href="{{ url_for('main.top_tracks') }}">Top tracks</a>
            </li>
            
            
        </ul>
    {% endif %}
{% endblock %}
