<!-- Delete -->
{% extends "base.html" %}

{% block title %}Liked Tracks{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/track_list.css') }}">
{% endblock %}

{% block styles %} 
<style>
    .track-popularity-bar {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        z-index: -1;
    }

    .track-popularity-bar-fill {
        width: var(--popularity);
        height: 100%;
        background-color: var(--pico-muted-border-color);
        position: absolute;
        top: 0;
        left: 0;
    }
</style>
{% endblock %}

{% block content %}
    <div class="container container-narrow">
        {% if session.token_info %}
            <h2>Popular Liked Tracks</h2>
            <ul class="track-list">
                {% for track in liked_tracks %}
                    <li class="track-item">
                        <div class="track-popularity-bar">
                            <div class="track-popularity-bar-fill" style="--popularity: {{ track['popularity'] }}%"></div>
                        </div>
                        <div class="album-image-wrapper">
                            <img src="{{ track['album_image_url'] }}" alt="Album Image" class="album-image">
                        </div>
                        <div class="track-info">
                            <div class="track-name">{{ track['name'] }}</div>
                            <div class="track-artist">{{ track['artist'] }}</div>
                            <div class="track-meta">
                                <div class="track-popularity">Popularity: {{ track['popularity'] }}</div>
                            </div>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
{% endblock %}


